In [1]:
import numpy as np
import pandas as pd
import string
import csv
import re

### Coord Position for current public institutions, municipalities, etc...

In [2]:
municipalities = {}
with open('data/organization.csv', newline='', encoding='utf-8') as f:
    d = csv.reader(f, delimiter=';')
    for i, row in enumerate(d):
        if i <= 0: # Skip header.
            continue
            
        if row[7]:
            m = str(row[3]).replace(' kommune', '')
            m = re.sub("\s+", ' ', m)
            municipalities[str(row[0])] = m.strip()

In [3]:
df = pd.read_csv('data/position.csv', delimiter=';', index_col='tailid')
df.iloc[:,3] = 0.0 # Set Z pos from NA to 0.
df.dropna(inplace=True)

# Drop non county related rows.
dropIndexes = []
for k in df.index:
    if str(k) not in municipalities:
        dropIndexes.append(int(k))
        
df.drop(dropIndexes, inplace=True)

# Set the names:
df['name'] = [municipalities[str(key)] for key in df.index]

In [4]:
df

       coordsys         x          y    z                     name
tailid
25348     utm33   46374.0  6954209.0  0.0                     Sula
25349     utm33    5455.0  6626756.0  0.0                   Suldal
25350     utm33  -47807.0  6722869.0  0.0                     Sund
25353     utm33  182280.0  6998344.0  0.0                 Surnadal
25355     utm33  -44172.0  6640148.0  0.0                    Sveio
25356     utm33  240686.0  6616616.0  0.0                  Svelvik
25820     utm33  316741.0  7127459.0  0.0               Namdalseid
25821     utm33  331585.0  7153591.0  0.0                   Namsos
25822     utm33  412922.0  7201770.0  0.0               Namsskogan
25823     utm33  232761.0  7001703.0  0.0                   Meldal
25824     utm33  263260.0  7026329.0  0.0                   Melhus
25826     utm33  443361.0  7417705.0  0.0                    Meløy
25827     utm33  337541.0  7035861.0  0.0                  Meråker
25830     utm33   74666.0  6977017.0  0.0                  Midsund
25831     utm33  261752.0  6998681.0  0.0           Midtre Gauldal
25833     utm33     828.0  6777208.0  0.0                  Modalen
25834     utm33  221325.0  6658982.0  0.0                    Modum
25843     utm33   54631.0  6456590.0  0.0                   Mandal
25847     utm33  310784.0  6598203.0  0.0                   Marker
25849     utm33  -26608.0  6779398.0  0.0               Masfjorden
25851     utm33  233124.0  6637247.0  0.0                     Lier
25852     utm33  432315.0  7149465.0  0.0                   Lierne
25853     utm33  255869.0  6784031.0  0.0              Lillehammer
25856     utm33   46621.0  6464013.0  0.0                Lindesnes
25857     utm33  -31514.0  6751938.0  0.0                   Lindås
25858     utm33  618185.0  7683012.0  0.0                   Lenvik
25859     utm33  179916.0  6902476.0  0.0                    Lesja
25863     utm33  161806.0  6872780.0  0.0                      Lom
25865     utm33  776694.0  7809305.0  0.0                    Loppa
25867     utm33    7628.0  6510645.0  0.0                     Lund
...         ...       ...        ...  ...                      ...
25512     utm33  564106.0  7608719.0  0.0                 Skånland
25515     utm33  373154.0  7127045.0  0.0  Snåsa - Snåasen tjielte
25520     utm33   -8774.0  6499870.0  0.0                  Sokndal
25523     utm33   78880.0  6468118.0  0.0                Songdalen
25850     utm33  -34446.0  6748820.0  0.0                   Meland
25584     utm33  139340.0  6611112.0  0.0                  Seljord
25594     utm33  200111.0  6583383.0  0.0                   Siljan
25574     utm33  -33904.0  6560209.0  0.0                  Sandnes
25603     utm33  320838.0  6627828.0  0.0                  Rømskog
25607     utm33  431948.0  7196296.0  0.0                  Røyrvik
25599     utm33   -8249.0  6729183.0  0.0                Samnanger
25221     utm33   44904.0  6957920.0  0.0                  Ålesund
25680     utm33  124670.0  6958788.0  0.0                    Rauma
25794     utm33  279290.0  6682490.0  0.0                Nannestad
25789     utm33   99157.0  6931458.0  0.0                  Norddal
25836     utm33  419985.0  7536817.0  0.0                 Moskenes
25839     utm33  253882.0  6596410.0  0.0                     Moss
25848     utm33   61369.0  6475127.0  0.0                Marnardal
25869     utm33  404409.0  7366068.0  0.0                    Lurøy
25873     utm33  702920.0  7727292.0  0.0                   Lyngen
25877     utm33  274328.0  6650736.0  0.0                Lørenskog
25880     utm33  290054.0  7038289.0  0.0                   Malvik
25855     utm33  111733.0  6475634.0  0.0                Lillesand
25860     utm33  317450.0  7073995.0  0.0                 Levanger
25882     utm33  201825.0  6683534.0  0.0               Krødsherad
25949     utm33   87238.0  6501410.0  0.0                  Iveland
25952     utm33   17125.0  6714275.0  0.0                   Jondal
25955     utm33  676456.0  7768303.0  0.0                  Karlsøy
25938     utm33  587910.0  7631243.0  0.0                  Ibestad
25835     utm33   99999.0  6980792.0  0.0                    Molde

[447 rows x 5 columns]

In [8]:
df.loc[df['name'] == 'Hvaler']

       coordsys         x          y    z    name
tailid
25990     utm33  272228.0  6549922.0  0.0  Hvaler